:root {
  --primary: #ff6b6b;
  --secondary: #4ecdc4;
  --accent: #ffe66d;
  --purple: #a78bfa;
  --green: #6bcf7f;
  --orange: #ff9f68;
  --pink: #ff8fb1;
  --blue: #74b9ff;
  --background: #ffffff;
  --gray800: #313131;
  --text: #2d3436;
  --text-secondary: #636e72;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--background);
  color: var(--text);
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: white;
  border: none;
}

#header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}

main {
  padding: 20px;
  min-height: calc(100vh - 70px - 60px); /* header와 footer 높이 제외 */
  position: relative;
}

#my-game-button {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 16px;
}

#footer {
  background-color: var(--gray800);
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  color: white;
}

#filter_and_request_section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------------------------ */
/*모바일*/
@media (max-width: 375px) {
  #filter_and_request_section {
    margin-top: 16px;
    align-items: end;
  }
}
