#gameList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10px 0px;
}

.game-card {
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.game-card:hover {
  width: 100%;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.game-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
