#request_game_button {
  font-size: 12px;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 8px;
  padding: 6px 10px;
  background-color: white;
  display: flex;
  gap: 8px;
  align-items: center;
}

#request-game-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#request_game_form_modal {
  display: absolute;
}
#request_game_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  justify-content: center;
  align-items: center;
  display: flex;
}

#request_game_modal_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 600;
}

#close_request_game_modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* -------------------------------------------- */
/*모바일*/
@media (max-width: 375px) {
  #request_game_modal_content {
    width: 90%;
    padding: 10px;
  }
}
/* -------------------------------------------- */
