/* moblie-first */
#to_go_game_list_btn {
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
#to_go_game_list_btn img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
#detail-game-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 1.6;
}
.hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ddd;
}
/* 게임 이미지-타이틀 스타일 */
#detail-game-image-title {
  border-radius: 16px;
  width: 100%;
  height: 150px;
  position: relative;
  background-color: #00000090;
}
#detail-game-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}

#detail-game-title {
  color: white;
  z-index: 100;
  margin: 0;
  position: absolute;
  left: 20px;
  font-size: 24px;
  top: 50%;
}

/* 서브타이틀 (게임설명, 게임 규칙, 게임 룰 영상) */
.detail-game-subtitle {
  font-size: 24px;
  line-height: 1.6;
}

/* info 그룹 */
.detail-game-info-card {
  border-radius: 16px;
  border: 2px solid #ddd;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
.info-card-icon {
  width: 40px;
  height: 40px;
}

.info-text-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.info-text-group :first-child {
  color: gray;
}

#detail-game-video {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
#game-rule {
  border: 2px solid #ddd;
  border-radius: 16px;
  padding: 16px;
}

/** tablet*/
/* ------------------------------------------------------ */
@media (min-width: 768px) {
  #detail-game-image-title {
    height: 200px;
  }
  #detail-game-title {
    font-size: 36px;
    top: 60%;
  }
  .detail-game-info-card {
    gap: 16px;
    padding: 16px;
  }
  .info-card-icon {
    width: 60px;
    height: 60px;
  }
}

/** desktop*/
/* ------------------------------------------------------ */
@media (min-width: 1024px) {
  #detail-game-section {
    gap: 16px;
    font-size: 20px;
  }
  #detail-game-image-title {
    height: 300px;
  }
  #detail-game-title {
    font-size: 60px;
    top: 70%;
  }
  .detail-game-info-card {
    padding: 16px 32px;
  }
  .info-card-icon {
    width: 80px;
    height: 80px;
  }
  .info-text-group {
    gap: 8px;
  }
  .detail-info-item {
    font-size: 20px;
    gap: 16px;
  }
}
