:root {
  --primary: #ff6b6b;
  --background: #ffffff;
  --gray800: #313131;
  --gray400: #707678;
  --text: #2d3436;
  --text-secondary: #707678;
}
@layer reset, base;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul,
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
}

@layer base {
  html {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--background);
    color: var(--text);
  }
  main {
    padding: 20px;
    min-height: calc(100vh - 70px - 60px); /* header와 footer 높이 제외 */
  }
}

@layer components {
  button {
    cursor: pointer;
    background-color: white;
    border: none;
  }
}

#header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--primary);
}
#header_title {
  cursor: pointer;
  color: white;
}

#my-game-button {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 16px;
}

#footer {
  background-color: var(--gray800);
  padding: 20px 80px;
  color: white;
  display: flex;
  flex-direction: column;
}
#footer_title {
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 8px;
}

#footer_links {
  color: var(--text-secondary);
}

#footer_links span {
  margin-right: 4px;
  border-right: 1px solid var(--gray400);
  padding-right: 6px;
  cursor: pointer;
}
#footer_links span:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
  cursor: default;
}

#footer_copy {
  color: var(--text-secondary);
}
#filter_and_request_section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

body {
  position: relative;
}
.game_list_pagination_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* ------------------------------------------------ */
/* 타블렛 */
@media (max-width: 1024px) {
  #footer {
    padding: 20px 40px;
    font-size: 16px;
  }
  #footer_title {
    font-size: 24px;
  }
}
/* ------------------------------------------------ */
/*모바일*/
@media (max-width: 375px) {
  #filter_and_request_section {
    margin-top: 16px;
    align-items: end;
    margin-bottom: 10px;
  }
  #footer_title {
    font-size: 20px;
  }
  #footer {
    padding: 20px;
    font-size: 12px;
  }
  #footer_copy {
    font-size: 14px;
  }
}
