/**------------------------------------------- */
/*모달 트리거 스타일들 */

/*게임 룰 추가 요청 모달 버튼*/
#request_game_button {
  font-size: 12px;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 8px;
  padding: 6px 10px;
  background-color: white;
  display: flex;
  gap: 8px;
  align-items: center;
}

/*게임 룰 수정 요청 모달 버튼*/
#request_edit_rule_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
}

/* -------------------------------------------- */
/*모달 공통 스타일*/
#request-game-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#modal_root {
  display: absolute;
}
#modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  justify-content: center;
  align-items: center;
  display: flex;
}

#modal_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 600;
}

#close_modal_button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* -------------------------------------------- */
/*모바일*/
@media (max-width: 375px) {
  #modal_container {
    width: 90%;
    padding: 10px;
  }
}
/* -------------------------------------------- */
