#policy_section {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 60px;
}

/* ----------------------------------------- */
/* 태블릿 */

@media (max-width: 768px) {
  #policy_section {
    padding: 32px;
  }
}
/* ----------------------------------------- */
/* 모바일 */

@media (max-width: 480px) {
  #policy_section {
    padding: 12px;
  }
}
