/* mobile-first */
#policy_section {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
}

/* ----------------------------------------- */
/* 태블릿 */
@media (min-width: 768px) {
  #policy_section {
    padding: 32px;
  }
}
/* ----------------------------------------- */
/* 데스크탑 */
@media (min-width: 1024px) {
  #policy_section {
    padding: 60px;
  }
}
