:root {
  --primary: #ff6b6b;
  --secondary: #4ecdc4;
  --accent: #ffe66d;
  --purple: #a78bfa;
  --green: #6bcf7f;
  --orange: #ff9f68;
  --pink: #ff8fb1;
  --blue: #74b9ff;
  --background: #ffffff;
  --gray800: #313131;
  --gray400: #707678;
  --text: #2d3436;
  --text-secondary: #707678;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--background);
  color: var(--text);
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: white;
  border: none;
}

#header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--primary);
}
#header_title {
  cursor: pointer;
  color: white;
}
main {
  padding: 20px;
  min-height: calc(100vh - 70px - 60px); /* header와 footer 높이 제외 */
  position: relative;
}

#my-game-button {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 16px;
}

#footer {
  background-color: var(--gray800);
  padding: 20px 80px;
  color: white;
  display: flex;
  flex-direction: column;
}
#footer_title {
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 8px;
}

#footer_links {
  color: var(--text-secondary);
}

#footer_links span {
  margin-right: 4px;
  border-right: 1px solid var(--gray400);
  padding-right: 6px;
}

#footer_copy {
  color: var(--text-secondary);
}
#filter_and_request_section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

body {
  position: relative;
}
/* ------------------------------------------------ */
/* 타블렛 */
@media (max-width: 1024px) {
  #footer {
    padding: 20px 40px;
    font-size: 16px;
  }
  #footer_title {
    font-size: 24px;
  }
}
/* ------------------------------------------------ */
/*모바일*/
@media (max-width: 375px) {
  #filter_and_request_section {
    margin-top: 16px;
    align-items: end;
    margin-bottom: 10px;
  }
  #footer_title {
    font-size: 20px;
  }
  #footer {
    padding: 20px;
    font-size: 12px;
  }
  #footer_copy {
    font-size: 14px;
  }
}
